/**
 |--------------------------------------------------------------------------
 | Slidea Fluid Layout
 |--------------------------------------------------------------------------
 | Plugin Type: jQuery
 | License: CodeCanyon Standard / Extended
 | Author: Alex Grozav
 | Website: http://plugins.grozav.com/slidea
 | Email: alex@grozav.com
 */
/* line 12, slidea.content.scss */
.slidea.slidea-content {
  width: 100%;
  height: auto;
  background: transparent;
}
